// Custom overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$primary:#00c3a8;
$secondary:#04d0dc;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';


// theme color
:root{
  --bg:#efefef73;
  --primary:#00c3a8;
  --secondary:#04d0dc;
  --danger:#e73e3a;
  --dangerH:#bf3427;
  --gutter:15px;
}


*{box-sizing: border-box; transition: all 0.5s ease}
html{min-height: 100%;}
body{padding:0; margin:0; min-height: 100%;}
img{width:100%; height: auto;}
a, a:hover, a:focus{text-decoration: none;}
/*common classes*/
.error{color: var(--danger)}
.hide, .m-show{display: none}
.fullblock{width:100%; display: inline-block;}


/*buttons*/
.bt{padding: 5px 15px; border-width: 0; transition: all 0.3s; cursor: pointer;}
.bt-small{padding: 5px 7px}
.bt-primary{background: var(--primary); border: 1px solid var(--secondary); color: #333;
  &:hover{background: var(--secondary); color: #fff}
  &:focus{outline: none}
}
.bt-danger{background: var(--danger); border: 1px solid var(--danger); color: #fff;
  &:hover{background:var(--dangerH); border: 1px solid var(--dangerH);  color: #fff}
  &:focus{outline: none}
}

/* width */
::-webkit-scrollbar {width: 5px; height: 5px;}
/* Track */
::-webkit-scrollbar-track {background: #ccc;}
/* Handle */
::-webkit-scrollbar-thumb {background: $primary;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: $secondary;}

/*form fields*/
form{
  .form-feild{padding-left: var(--gutter); padding-right: var(--gutter); margin-bottom: 20px; position: relative;}
  .input-feild{padding:5px 10px; border:1px solid #a29f9f; width: 100%}
  span.error{text-align: left; width: 100%; display: block; font-size: 12px; position: absolute;left:0; padding-left: var(--gutter); padding-right: var(--gutter);}
}

/*nav*/
.nav{list-style: none; padding: 0;
  li{padding: 5px 0; width: 100%}
  img{height: 18px; width:18px;}
  a{padding: 10px; display: block; color: #fff; 
    &:hover{background: rgba(250,250,250,0.5)}
    &.router-link-exact-active{ color:#fff; //#017f86; 
      background: var(--primary);
      background: var(--primary); //linear-gradient(90deg, var(--primary) , rgba(0,0,0,0) );
    }
  }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  //margin-top: 60px;
}
.login{ background: var(--primary); position: absolute; width: 100%; height: 100%;}
.formlayout {
    background: #fff;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 1px 4px #999;
    overflow: hidden;

    h1{margin:0 0 10px}
    &:after {
      content: '';
      background: rgba(0,195,168,0.3);
      height: 100%;
      width: 100%;
      position: absolute;
      left: 40%;
      bottom: -50%;
      border-radius: 100%;
      transform: rotate(-34deg);
      z-index: -1;
    }
    &:before {
      content: '';
      background: rgba(0,195,168,0.3);
      height: 280px;
      width: 100%;
      position: absolute;
      left: 40%;
      bottom: -55%;
      border-radius: 100%;
      transform: rotate(138deg);
      z-index: -1;  
    }
  }

/*pages style*/
.whitebox{background: #ffffff; position: relative;}
.tableBgWColor table{ background: #fff; margin-bottom: 0}
.pagetitle { margin-bottom: 1.5rem; }
.vue-map img{width: auto !important}

/*media query*/
@media screen and (max-width:640px){
  .m-show{display: block}
}